.modalbackground {
  margin: 0; /* убираем отступы */
  padding: 0; /* убираем отступы */
  position: fixed; /* фиксируем положение */
  top:0; /* растягиваем блок по всему экрану */
  bottom:0;
  left:0;
  right:0;
  background: rgba(0,0,0,0.5); /* полупрозрачный цвет фона */
  z-index:100; /* выводим фон поверх всех слоев на странице браузера */
  opacity:0; /* Делаем невидимым */
  pointer-events: none; /* элемент невидим для событий мыши */
  }
/* при отображении модального окно - именно здесь начинается магия */
.modalbackground:target {
  opacity: 1; /* делаем окно видимым */ 
  pointer-events: auto; /* элемент видим для событий мыши */
}

/* ширина диалогового окна и его отступы от экрана */
.modalwindow {
width: 100%;
max-width: 400px;
margin: 10% auto;
padding: 2%;
background: #fff;
border-radius: 3px;
}

/* настройка заголовка */
.modalwindow h3 {
padding: 0;
margin: 0;
}

/* оформление сообщение */
.modalwindow p {
padding: 0;
margin: 4% 0 8% 0;
}

/* вид кнопки ЗАКРЫТЬ */
.modalwindow a {
display: block;
color: #fff;
background: #369;
padding: 2%;
margin: 0 auto;
width: 50%;
border-radius: 3px;
text-align: center;
text-decoration: none;
}

/* вид кнопки ЗАКРЫТЬ при наведении на нее мыши */
.modalwindow a:hover {
background: #47a;
}


#introduction {
  background-color: #3a5db5;
  background-image: url("../images/garage_big.svg"), url("../images/garage_small.png"), linear-gradient(180deg, #b53a8a 1%, #3a5db5 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: 5% 65%, 44% 20%;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.title {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#lang_menu {
  margin: 6px 0 6px 0;
}

.fill-viewport {
  min-height: 100vh;
}

.text-white-70 {
  color: rgba(255,255,255,0.7);
}

.label {
  font-weight: bold;
  color: white;
}

.geminfo {
  margin-top: 25px;
  text-align: center;
}

.guess_input {
  font-size: 72px;
  text-align: center;
}

.guess_markers_list {
  text-align: center;
}

.marks {
  margin: 3px;
  font-size: 18px;
}

.button {
  margin-bottom: 5px;
}

.scores {
  background: white;
}
